# Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback

# Deezer
DEEZER_APP_ID=
DEEZER_APP_SECRET=
DEEZER_REDIRECT_URI=http://127.0.0.1:8888/callback

# Deezer (sera rempli plus tard)
DEEZER_ACCESS_TOKEN=
